# IDE
.idea/
.vscode
digest.txt
CLAUDE.md
.claude/*

# Scratch & WIP
nrlmsis2.1/
sgp4/

# Build Artifacts - Rust
/target
Cargo.lock

# Build Artifacts - Python
brahe/build/*
__pycache__/
*.py[cod]
*$py.class
.Python
sdist/
wheels/
*.egg-info/
*.egg
.pytest_cache/
*.so
*.dylib
.python-version
dist/

# Build Artifacts - Validation
/build
site/*

# Documentation
docs/*/site/*
docs/*/docs/figures/*
docs/pages/index.md
docs/site/*

# Development
.DS_Store
.idea/*
.vscode/*

# Markdown files in root (except major documentation files)
/*.md
!README.md
!CHANGELOG.md
!CONTRIBUTING.md
!CODE_OF_CONDUCT.md
!LICENSE.md

# Figures
docs/figures/*

# Pyting Annotations for docstrings
brahe/_brahe.pyi

# JOSS build byproducts
joss/jats/