# Build Artifacts - Rust
/target
Cargo.lock

# Build Artifacts - Python
rastro_python/build/*
__pycache__/
*.py[cod]
*$py.class
.Python
sdist/
wheels/
*.egg-info/
*.egg
.pytest_cache/
*.so
*.dylib
.python-version

# Documentation
docs/*/site/*
docs/*/docs/figures/*

# Development
.DS_Store
.idea/*
