:root {
    --md-primary-fg-color:        #FF9D00;
    --md-primary-fg-color--light: #FF9D00;
    --md-primary-fg-color--dark:  #FF9D00;
  }
  
.plotly-embed {
    overflow: hidden;
}

.plotly-embed iframe {
    width: 100%;
    height: 700px;
    border: 0;
    background: transparent;
    display: block;
}

/* Increase main column width */
.md-grid {
  max-width: 1440px; 
}

/* Material for MkDocs sets this attribute on <html> */
[data-md-color-scheme="default"] .plotly-embed .only-light { display: block; }
[data-md-color-scheme="default"] .plotly-embed .only-dark  { display: none;  }

[data-md-color-scheme="slate"]   .plotly-embed .only-light { display: none;  }
[data-md-color-scheme="slate"]   .plotly-embed .only-dark  { display: block; }

[data-md-color-scheme="slate"] {
  --md-default-bg-color: #1c1e24;
}