name: Unit Tests

on:
    push:
        branches:
            - main
        # Only run if source/test files changed
        paths:
            - 'examples/**'
            - 'plots/**'
            - 'brahe/**'
            - 'src/**'
            - 'tests/**'
            - 'test_assets/**'
            - 'data/**'
            - 'Cargo.toml'
            - 'Cargo.lock'
            - 'pyproject.toml'
            - 'uv.lock'
            - '.github/workflows/unit_tests.yml'
            - '.github/workflows/test_*.yml'

jobs:
    test-rust:
        uses: ./.github/workflows/test_rust.yml
    test-python:
        needs: [ test-rust ]
        uses: ./.github/workflows/test_python.yml
    test-examples:
        # needs: [ test-rust ] # Remove this dependency for optimistic parallel execution
        uses: ./.github/workflows/test_examples.yml
    update-docs:
        needs: [ test-rust, test-python, test-examples ]
        uses: ./.github/workflows/update_docs.yml